.hm_content {
	min-height: 40rem;
	max-height: calc(100% - 11.75rem);
	padding: 1.5rem 10rem 0 10rem;
	overflow-y: auto;
	display: flex;
}

.hm_content_post {
	width: 80%;
	height: 100%;
	display: flex;
}

.hm_post {
	width: calc(100% - 1.875rem);
	border-bottom: 2px solid #2098D1;
}

.hm_post_title {
	height: 3rem;
	line-height: 3rem;
}

.hm_post_title a {
	font-size: 1.875rem;
	color: #337ab7;
}

.hm_post_desc {
	height: 4.2rem;
	line-height: 1.5rem;
	font-size: 1rem;
	color: #333333;
}

.hm_post_info {
	height: 1.5rem;
	display: flex;
}

.hm_post_info > div {
	height: 100%;
	line-height: 1.5rem;
	padding-right: 1.25rem;
	font-size: 1rem;
	color: #666666;
}

.hm_content_card {
	width: 20%;
	height: 100%;
	display: flex;
}