.hm_content {
	min-height: 40rem;
	max-height: calc(100% - 11.75rem);
	padding: 1.5rem 10rem 0 10rem;
	overflow-y: auto;
	display: flex;
}

.hm_content_post {
	width: 80%;
	height: 100%;
	display: flex;
}

.hm_post {
	width: calc(100% - 1.875rem);
	height: 10rem;
	border-bottom: 2px solid #2098D1;
}

.hm_post_title {
	height: 2.25rem;
	line-height: 2.25rem;
	font-size: 1.375rem;
	color: #808080;
}

.hm_content_card {
	width: 20%;
	height: 100%;
	display: flex;
}