footer {
	width: 100%;
}

.hm_footer_menu {
	width: 100%;
	height: 0.5rem;
	display: flex;
	justify-content: center;
}

.hm_footer_menu span {
	height: 3rem;
	line-height: 3rem;
	display: flex;
	padding: 0 1rem;
	color: #333333;
}

.hm_icp {
	width: 100%;
	height: 1.25rem;
	color: #333333;
	display: flex;
	justify-content: center;
}

.hm_icp a {
	color: #337ab7;
	font-size: 0.75rem;
}