header {
	width: 100%;
	height: 7.5rem;
	background: #4183c4;
	display: inline-grid;
	align-content: center;
}

.hm_nav {
	display: flex;
	height: 3.75rem;
	width: 100%;
	background: #4183c4;
	box-shadow: 0 0 0.3125rem rgb(0 0 0 / 10%);
}

.hm_nav_title {
	width: 50%;
	height: 3.75rem;
	line-height: 3.75rem;
	font-size: 2.5rem;
	font-weight: 400;
	display: flex;
	padding: 0 0 0 10rem;
}

.hm_nav_title span {
	background: url(../img/icon_monkey_black.png) no-repeat left center;
	padding: 0 2.5rem;
	color: #FFFFFF;
}

.hm_nav_li {
	width: 50%;
	height: 100%;
	line-height: 3.75rem;
	font-size: 1.375rem;
	display: flex;
	padding: 0 10rem 0 0;
	justify-content: flex-end;
}

.hm_nav_li a {
	color: #9acfea;
}

.hm_nav_li span {
	padding-left: 2rem;
}