* {
	margin: 0;
	padding: 0;
	font-family: Microsoft YaHei, "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 0.3125rem;
	height: 0.3125rem;
	color: #38B2AC;
}

::-webkit-scrollbar-thumb {
	border-radius: 7px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #E8E8E8;
}

header {
	width: 100%;
	height: 8rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: center;
	background: #4183c4;
}

.nav_hm {
	display: flex;
	height: 3.75rem;
	width: 100%;
	background: #4183c4;
	padding: 0 6.25rem;
	box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}

.title_hm {
	width: 50%;
	height: 3.75rem;
	line-height: 3.75rem;
	font-size: 2.5rem;
	font-weight: 400;
	color: #FFFFFF;
}

.nav_li_hm {
	width: 50%;
	height: 100%;
	line-height: 3.75rem;
	font-size: 1.375rem;
}

.content_hm {
	min-height: calc(100% - 16rem);
	width: calc(100% - 12.5rem);
	margin: 1.25rem auto;
	overflow-y: auto;
}

.hm_footer {
	width: 100%;
	height: 8rem;
}
