* {
	margin: 0;
	padding: 0;
	font-family: Microsoft YaHei;
	color: #2E2E2E;
}

a, a:link {
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	color: #38B2AC;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #E8E8E8;
}

.a_transition {
	position: relative;
	-webkit-transition: color .3s ease-out;
	transition: color .3s ease-out;
}

.a_transition:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	border-bottom: solid 2px;
	-webkit-transition: color .3s ease-out;
	-webkit-transition: width .3s ease-out;
	transition: color .3s ease-out;
	transition: width .3s ease-out;
}

.a_transition:hover:before {
	width: 100%;
}